<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.ibm.issr.plugin.ucd.logigear.testarchitect" version="6" name="LogiGear TestArchitect"/>
    <description>
    Run LogiGear tests.
</description>
    <tag>Quality/LogiGear/TestArchitect</tag>
  </header>

  <step-type name="Run TestArchitect batch file">
    <description>Run a batch file of TestArchitect then collect the result</description>
    <properties>
      <property name="batchLocation" required="true">
        <property-ui type="textBox"
                label="Batch Filename"
                description="Name and directory of the execution script file."/>
      </property>
      <property name="resultLocation" required="true">
        <property-ui type="textBox"
                label="Results directory"
                description="Directory where TestArchitect results will be populated"/>
      </property>
    	<property name="displayResultFiles" required="false">
    		<property-ui type="checkBox" label="Display result files in the log"
    			hidden="true"
    			default-value="true"
    			description="Should all of the Result files be displayed in the log for this step?  Specifically, display contents of all files in the result directory?"
    			/>
    	</property>
     	<property name="loggingLevel" required="false">
    		<property-ui type="textBox" label="Logging Level"
    			hidden="true"
    			default-value="info"
    			description="The logging level can be: blank, 'trace', 'debug', 'info', 'warn', 'error'.  Each level includes the following ones, for example, 'trace' includes debug, but debug doesn't include trace."
    			/>
    	</property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put("Status", "Fail to call batch file");
        }
     ]]>
     </post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:."/>
      <arg file="CallTestArchitectBatch.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <step-type name="Run TestArchitect via Command Line">
    <description>Calls a Logigear TestArchitect call via it's command line.  See http://testarchitect.logigear.com/onlinehelp/index.html#TA_Help/Topics/Test_exec_cmd.html for the official documentation on the command line for Logigear TestArchitect</description>
    <properties>
      <property name="TAmod" required="true">
	    <property-ui type="textBox"
		    label="/mod"
			default-value="${p:testarchitect.mod}"
			description="'{Test Item Path} {Test Module Sections} {Test Item ID}' -- {Test Item Path}: Name of test module or test suite to be executed. {Test Module Sections}: (provided only when a test module is specified) Test module sections to be executed: that is, initial, final, and specified test case names. Specified sections are delimited by {#@}. {Test Item ID}: ID of the test module or test suite."
			/>
	</property>
      <property name="TAresultname" required="true">
	    <property-ui type="textBox"
		    label="/resultname"
			default-value="${p:testarchitect.resultname}"
			description="Name for the test result.  Specified within the Settings panel of the Execute Test dialog box."
			/>
	</property>
      <property name="TAxupath" required="true">
	    <property-ui type="textBox"
		    label="/xupath"
			default-value="${p:testarchitect.xupath}"
			description="The directory where the xUnit formatted test results are saved.  This is required and is used by the plugin to determine if the test(s) passed.  This should be an empty directory."
			/>
	</property>
      <property name="TAproid" required="true">
	    <property-ui type="textBox"
		    label="/proid"
			default-value="${p:testarchitect.proid}"
			description="Test project ID. (This ID is generated by TestArchitect. It can be viewed in the Project Properties dialog box of the project, available from the context menu in the TestArchitect explorer tree.)"
			/>
	</property>
      <property name="TAuid" required="true">
	    <property-ui type="textBox"
		    label="/uid"
			default-value="${p:testarchitect.uid}"
			description="User name to log in to the repository"
			/>
	</property>
      <property name="TApwd" required="true">
	    <property-ui type="secureBox"
		    label="/pwd"
			default-value="${p:testarchitect.pwd}"
			description="Password (encrypted) associated with the /uid.  Note - best way to find the encrypted password is to export at least one test batch file and get the password from the batch file."
			/>
	</property>
      <property name="TAsessionid" required="false">
	    <property-ui type="textBox"
		    label="/sessionid"
			default-value="${p?:testarchitect.sessionid}"
			description="Session ID. A unique value when generated by TestArchitect. However, the value may be modified or omitted for your own purposes in the batch file.  Note - the call to TestArchitect seems to fail if you DON'T give a session ID."
			/>
	</property>
      <property name="TAvar" required="false">
	    <property-ui type="textBox"
		    label="/var"
			default-value="${p?:testarchitect.var}"
			description="Keyword variation(s) to apply to the test module execution.   Specified within the Keyword box in the Execute Test dialog box.  Tip: Refer to Creating keyword variations for details."
			/>
	</property>
      <property name="TAcomment" required="false">
	    <property-ui type="textBox"
		    label="/comment"
			default-value="${p?:testarchitect.comment}"
			description="Comment related to the test.  Specified within the Settings panel of the Execute Test dialog box."
			/>
	</property>
      <property name="TAdbname" required="false">
	    <property-ui type="textBox"
		    label="/dbname"
			default-value="${p?:testarchitect.dbname}"
			description="Name of the repository hosting the project.  Note: If both /dbname and /srvid have defined values, /dbname takes precedence."
			/>
	</property>
      <property name="TAsrvid" required="false">
	    <property-ui type="textBox"
		    label="/srvid"
			default-value="${p?:testarchitect.srvid}"
			description="Repository ID of the repository hosting the project. (This ID is one that TestArchitect generates for repositories. It can be viewed in the Repository Properties dialog box of the repository, available from the context menu in the TestArchitect explorer tree.)  Note: If both /dbname and /srvid have defined values, /dbname takes precedence."
			/>
	</property>
      <property name="TAdelay" required="false">
	    <property-ui type="textBox"
		    label="/delay"
			default-value="0"
			description="Delay time between actions. (Generally not required.)"
			/>
	</property>
      <property name="TAversions" required="false">
	    <property-ui type="textBox"
		    label="/versions"
			default-value="${p?:testarchitect.versions}"
			description="Linked variation to apply to the test module execution. Specified in the Variation Specification panel in the Execute Test dialog box. "
			/>
	</property>
      <property name="TAexporthtmlpath" required="false">
	    <property-ui type="textBox"
		    label="/exporthtmlpath"
			default-value="${p?:testarchitect.exporthtmlpath}"
			description="Location and filename to which to store the test result report in HTML form. Specified within the Export result(s) to HTML panel under the Advanced Settings tab of the Execute Test dialog box."
			/>
	</property>
      <property name="TAexportxmlpath" required="false">
	    <property-ui type="textBox"
		    label="/exportxmlpath"
			default-value="${p?:testarchitect.exportxmlpath}"
			description="Location and filename to which to store the test result report in XML form. Specified within the Export result(s) to XML detail panel under the Advanced Settings tab of the Execute Test dialog box."
			/>
	</property>
      <property name="TAtestsetid" required="false">
	    <property-ui type="textBox"
		    label="/testsetid"
			default-value="${p?:testarchitect.testsetid}"
			description="Consists of a destination path plus other configuration options for the currently configured external test tool, if any."
			/>
	</property>
      <property name="TAuploadresulttorepos" required="false">
	    <property-ui type="textBox"
		    label="/uploadresulttorepos"
			default-value="${p?:testarchitect.uploadresulttorepos}"
			description="Path to the repository result folder to which the test result is to be stored. "
			/>
	</property>
      <property name="TAuploadresultcond" required="false">
	    <property-ui type="textBox"
		    label="/uploadresultcond"
			default-value="${p?:testarchitect.uploadresultcond}"
			description="Specify which types of test results are to be automatically stored to the repository after execution completes.  Allowable values (separate multiple conditions with commas, terminate the string with a semicolon): Passed, Failed, Passed with Warnings/Errors, Passed with known bug"
			/>
	</property>
      <property name="TAuploadedfiletype" required="false">
	    <property-ui type="textBox"
		    label="/uploadedfiletype"
			default-value="${p?:testarchitect.uploadedfiletype}"
			description="The format of the test results uploaded to the external test tool, when the automated tests are run through TestArchitect. Allowable values: html, zip, (max html file size): TestArchitect uploads the result as an HTML file if the file's size does not exceed the specified limit. If the limit is exceeded, it is compressed and uploaded as a ZIP file. Note: Currently, this argument only takes effect with TestArchitect-Microsoft Test Manager integration."
			/>
	</property>
      <property name="TAtimetraveling" required="false">
	    <property-ui type="textBox"
		    label="/timetraveling"
			default-value="${p?:testarchitect.timetraveling}"
			description="The specific historical snapshot, based on a given revision timestamp, of the project items invoked by the test run. (See Time-traveling execution.)"
			/>
	</property>
      <property name="TAudf" required="false">
	    <property-ui type="textBox"
		    label="/udf"
			default-value="${p?:testarchitect.udf}"
			description="Field-value pairs for any user-defined fields assigned to the Result item type, as well as the Build Number built-in field. Tab-delimited. Note: The Build Number value is specified within the Settings panel of the Execute Test dialog box."
			/>
	</property>
      <property name="TAcapturecond" required="false">
	    <property-ui type="textBox"
		    label="/capturecond"
			default-value="${p?:testarchitect.capturecond}"
			description="Specifies which types of test outcome events are to have associated screenshots captured and logged during the automated test. Allowable values (separate multiple conditions with semicolons): Passed, Failed, Warning/Error.  Specified within the Screenshot Recording panel of the Execute Test dialog box. (For details, refer to Capturing screenshots during test execution.)"
			/>
	</property>
      <property name="TAnumofinteraction" required="false">
	    <property-ui type="textBox"
		    label="/numofinteraction"
			default-value="${p?:testarchitect.numofinteraction}"
			description="Specifies the number of UI-interacting actions preceding each event specified in capturecond for which the screenshots are to be retained and logged to the results. (Default: screenshots of all UI-interacting actions are captured and logged. For details, refer to Capturing screenshots during test execution.) Specified within the Screenshot Recording panel of the Execute Test dialog box."
			/>
	</property>
      <property name="TAexportscreenshotcond" required="false">
	    <property-ui type="textBox"
		    label="/exportscreenshotcond"
			default-value="${p?:testarchitect.exportscreenshotcond}"
			description="Keep captured screenshots when exporting local test results to HTML. Allowable values: 0: Do not export captured screenshots. 1: To save space in the exported HTML test results, the screenshots are exported as thumbnail images. 2: Screenshots are exported in their original, full size resolution. Note: In the Execute Test dialog box, this parameter corresponds to the Export Result(s) to HTML panel of the Advanced Settings tab. (For details, refer to Exporting test results to an HTML file.)"
			/>
	</property>
      <property name="TAdevices" required="false">
	    <property-ui type="textBox"
		    label="/devices"
			default-value="${p?:testarchitect.devices}"
			description="Specifies the device(s) (e.g., Android or IOS) upon which the test is to be executed (semicolon-delimited). Note: Specified in the Controllers/Devices panel of the Execute Test dialog box (Select Controllers and Devices button)."
			/>
	</property>

      <property name="testArchitectLocation" required="true">
        <property-ui type="textBox"
    			hidden="true"
                default-value="${p:testarchitect.testArchitectLocation}"
                label="Directory where Test Architect is installed"
                description="The absolute file location of TestArchitect, such as 'c:\Program Files\LogiGear\TestArchitect'. Do NOT include trailing slash."/>
      </property>
      <property name="timeout" required="false">
        <property-ui type="textBox"
    			hidden="true"
                default-value="600"
                label="Timeout for calling TestArchitect"
                description="Timeout (in seconds) for calling TestArchitect.  If this is not zero, then the step fails if TestArchitect doesn't complete in the indicated time.  TestArchitect can hang indefinitely, so a value is good."/>
      </property>
      <property name="TAstartupsettings" required="false">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/startupsettings"
			default-value="${p?:testarchitect.startupsettings}"
			description="Define the list of user-defined settings or reconfigured built-in settings. (Separate multiple settings with semi-colons.) Allowable values of Setting Type: - bis: built-in setting - uds: user-defined setting"
			/>
	</property>
      <property name="TAtoolname" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/toolname"
			default-value="TestArchitect Automation Playback"
			description="Name of the test playback tool.  Specified in the Automation Tools dialog box."
			/>
	</property>
      <property name="TAtoolpath" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/toolpath"
			default-value="{INSTALL_DIR}/binclient/taplayback.exe"
			description="The executable application's path to run the test.  Specified in the Automation Tools dialog box."
			/>
	</property>
      <property name="TAtoolscript" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/toolscript"
			default-value="{INSTALL_DIR}/binclient/taplayback.exe"
			description="Script's path for the test playback tool. Specified in the Automation Tools dialog box."
			/>
	</property>
      <property name="TAtoolcmd" required="false">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/toolcmd"
			default-value="${p?:testarchitect.toolcmd}"
			description="Execution command line. Specified in the Automation Tools dialog box."
			/>
	</property>
      <property name="TAexechost" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/exechost"
			default-value="${p:testarchitect.exechost}"
			description="IP address of the TestArchitect controller that is to run the test, such as 'localhost'."
			/>
	</property>
      <property name="TAexecport" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/execport"
			default-value="${p:testarchitect.execport}"
			description=""
			/>
	</property>
      <property name="TArshost" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/rshost"
			default-value="${p:testarchitect.rshost}"
			description="Host name of the repository server containing the repository holding the test module to be executed."
			/>
	</property>
      <property name="TArsport" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/rsport"
			default-value="${p:testarchitect.rsport}"
			description="TCP/IP port number of the repository server, such as 53400."
			/>
	</property>
      <property name="TAdbtype" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/dbtype"
			default-value="javadb"
			description="Database type of the repository. At present, this argument accepts only the value javadb. (Default: javadb.)"
			/>
	</property>
      <property name="TAlsaddr" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/lsaddr"
			default-value="${p:testarchitect.lsaddr}"
			description="Host name of license server."
			/>
	</property>
      <property name="TAlsport" required="true">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/lsport"
			default-value="${p:testarchitect.lsport}"
			description="TCP/IP port number of the license server, such as 14101."
			/>
	</property>
      <property name="TAlsusr" required="false">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/lsusr"
			default-value="${p?:testarchitect.lsusr}"
			description="User name of license server account. (The default value is empty, as it is generally not required.)"
			/>
	</property>
      <property name="TAredunlsaddr" required="false">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/redunlsaddr"
			default-value="${p?:testarchitect.redunlsaddr}"
			description="IP address of redundant license server, if any."
			/>
	</property>
      <property name="TAredunlsport" required="false">
	    <property-ui type="textBox"
   			hidden="true"
		    label="/redunlsport"
			default-value="${p?:testarchitect.redunlsport}"
			description="TCP/IP port of redundant license server, if any."
			/>
	</property>
    	<property name="displayResultFiles" required="false">
    		<property-ui type="checkBox" label="Display result files in the log"
    			hidden="true"
    			default-value="true"
    			description="Should all of the Result files be displayed in the log for this step?  Specifically, display contents of all files in the result directory?"
    			/>
    	</property>
    	<property name="loggingLevel" required="false">
    		<property-ui type="textBox" label="Logging Level"
    			hidden="true"
    			default-value="info"
    			description="The logging level can be: blank, 'trace', 'debug', 'info', 'warn', 'error'.  Each level includes the following ones, for example, 'trace' includes debug, but debug doesn't include trace."
    			/>
    	</property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put("Status", "Failure");
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
     </post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:."/>
      <arg file="TestWithLogiGear.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>


</plugin>
